[submodule "src/q2pro"]
	path = src/q2pro
	url = https://github.com/skullernet/q2pro.git
[submodule "src/q2admin-tsmod"]
	path = src/q2admin-tsmod
	url = https://github.com/tastyspleen/q2admin-tsmod.git
[submodule "src/dday"]
	path = src/dday
	url = https://github.com/InFerYes/dday.git
