
CONFIG_DEFAULT_MODELIST=640x480 800x600 1024x768 1366x768 1440x900 1280x1024 1280x720 1600x1024 1400x1050 1680x1050 1600x1200 1920x1080 1920x1200 2560x1440 2048x1536 2560x1600 3840x2160

CONFIG_PNG=y
CONFIG_JPEG=y
CONFIG_HTTP=y
#CONFIG_OPENAL=y
#CONFIG_DIRECT_SOUND=y
CONFIG_SDL2=y

CONFIG_MVD_SERVER=y
CONFIG_MVD_CLIENT=y


CONFIG_GAME_BASE=dday
CONFIG_GAME_DEFAULT=dday

# for root installation #
#CONFIG_PATH_DATA=/usr/local/share/games/ddaynormandy
#CONFIG_PATH_LIB=/usr/local/lib/games/ddaynormandy
#CONFIG_PATH_HOME=~/.ddaynormandy


#For windows os compilation
#CONFIG_WINDOWS=y
#CONFIG_WINDOWS_CRASH_DUMPS=y
#CONFIG_WINDOWS_SERVICE=y

#CPU=x86
#SYS=Win32

#CC=i686-w64-mingw32-gcc
#STRIP=i686-w64-mingw32-strip
#WINDRES=i686-w64-mingw32-windres

#INCLUDES=-I../q2pro-mgw-sdk/inc -DUSE_PACKETDUP=1
#LIBS=-L../q2pro-mgw-sdk/lib

#CURL_CFLAGS=-DCURL_STATICLIB
#CURL_LIBS=-lcurl

#PNG_CFLAGS=
#PNG_LIBS=-lpng

#JPG_CFLAGS=
#JPG_LIBS=-ljpeg

#ZLIB_CFLAGS=
#ZLIB_LIBS=-lz

# Enable debugging and developer code.
CONFIG_DEBUG=y
